<h1>Bienvenue sur ce super blog !!!</h1>

<p>
    Afin de pouvoir valider le compte il convient de suivre ce lien : <br><br>
    <hr><a href="{{ signedUrl }}">Confirmation</a><hr><br>
    Attention ce lien est valabe : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
