{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit maiores assumenda magnam, molestiae qui animi, 
    placeat excepturi itaque rerum totam praesentium deleniti deserunt vel, tenetur possimus repellat cumque! Blanditiis, quisquam.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque velit, reiciendis in dolorum labore voluptates a 
        quibusdam itaque, nobis sint placeat distinctio eveniet dolorem minima repellat inventore architecto blanditiis.
    Nihil ullam cumque enim minus accusantium, quaerat aliquid velit veritatis pariatur eveniet dolorem! Quibusdam a vitae necessitatibus 
    placeat, nihil minus, tempore esse, modi reprehenderit similique in officia hic voluptate reiciendis!</p>
{% endblock %}
